.hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.hero-top {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.hero-top-right-account{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #439a97;
  font-weight: 700;
  cursor: pointer;
}

.hero-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100%;
}
.hero-mid-title {
  display: flex;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.hero-mid-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.hero-mid-search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 0px;
  padding-top: 13.7px;
  padding-bottom: 15px;
  border: 1px solid #62b6b7;
  border-radius: 25px;
  font-size: 20px;
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color: white;
}

.hero-mid-search-input {
  /* background-color: #cbedd5; */
  display: flex;
  width: 400px;
  padding: 15px;
  border: 1px solid #62b6b7;
  border-radius: 25px;
  font-size: 20px;
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: #439a97;
  align-items: center;
  justify-content: center;
}
.hero-mid-search-input::placeholder {
  color: #bbcfcd;
  font-size: 1rem;
}

.hero-mid-search-input:focus {
  outline: none;
}
